* {
  box-sizing: border-box;
}

.headerBlock{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height:fit-content;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

footer{
display: flex;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.buttonTitles{
  display: block;
}

#aboutMebar, #workbar, #contactMebar, #resumebar{
  padding: 20px;
  font-size: 20px;
}

.overallcontainer{
  display: flex;
  flex-direction: column;
}

.buttonsinTitle{
  display: flex;
}


.barpos{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 10px;
}

.name{
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.subtitle{
  font-size: 20px;
}

.space{
  background-color: rgb(0, 0, 0);
  width: 5px;
}

.aboutmeSection{
  display: grid;
  grid-template-columns: 25% 5% 70%;
  grid-template-rows: 100%;
  grid-template-areas:
  "aboutMe space aboutMeArea";
}

#aboutMe{
  grid-area: aboutMe;
  text-align: center;
  font-size: 25px;
}

#aboutMeArea{
  grid-area: aboutMeArea;
}

.workSection{
  display: grid;
  grid-template-columns: 25% 5% 70%;
  grid-template-rows: 100%;
  grid-template-areas:
  "work space workArea";
}

#workArea{
  grid-area: workArea;
  display: flex;
  flex-direction: row;
  width: fit-content;

}
#work{
  grid-area: work;
  text-align: center;
  font-size: 25px;
}

.contactMeSection{
  display: grid;
  grid-template-columns: 25% 5% 70%;
  grid-template-rows: 100%;
  grid-template-areas:
  "contact space contactMeArea";
}

#contact{
  grid-area: contact;
  text-align: center;
  font-size: 25px;
}

#contactMeArea{
  grid-area: contactMeArea;
}

.resumeSection{
  display: grid;
  grid-template-columns: 25% 5% 70%;
  grid-template-rows: 100%;
  grid-template-areas:
  "resume space resumeArea";
}

#resume{
  grid-area: resume;
  text-align: center;
  font-size: 25px;
} 

#resumeArea{
  grid-area: resumeArea;
}

.mainGrid{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
} 

.jakeEatery, .furnitureWeb, .sortable{
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 10px;
  transition: transform .2s;
}

.jakeEatery{
  background-image: url(../images/JAKE.png);
  object-fit: fill;
}
.sortable{
  background-image: url(../images/sort.jpeg);
}

.furnitureWeb{
  background-image: url(../images/FURNIT.png);
}

.imgHolder{
  padding: 1.2rem;
  border: red;
}

.imgHolder :hover{
  transform: scale(1.2);
  background-color: grey;
  display: flex;
  justify-content: left;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

#footer {
  font-size: 15px;
  left:0px;
  bottom:0px;
  height: 30px;
  width:100%;
  background:black;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
}


html {
  scroll-behavior: smooth;
 }
 
 #top,#middle,#bottom{
  height: 600px;
  width: 300px;
  background: green; 
}